/* Reset */
    * {
      margin: 0; padding: 0px; box-sizing: border-box;
    }

    html {
      scroll-padding-top: 120px;
      padding-bottom: 100px;
    }

     @media (max-width: 500px) {
      html {
        scroll-padding-top: 200px;
        padding-bottom: 100px;
    }
    }

    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      line-height: 1.6;
      color: #222;
      background: #fafafa;
      scroll-behavior: smooth;
    }

    .header-container {
      max-width: 1500px;
      margin: 0 auto;
      padding: 1rem 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid #ddd;
      position: sticky;
      top: 0;
      background: white;
      z-index: 10;
    }

    .header-container ul{
      list-style: none;
      display: flex;
      gap: 1.5rem;
    }

    @media (max-width: 500px) {
    .header-container { 
      max-width: 500px;
      flex-direction: column;
      align-items: center;
      gap: 0.3rem;
      padding: 0.5rem 1rem;
    }
    }

  .site-title {
    font-weight: 700;
    font-size: 2.5rem;
    color: #007acc;
    user-select: none;
    margin: 0;
  }
  
   @media (max-width: 500px) {
    .site-title {
        font-size: 2rem;
        margin-bottom: 0.2rem;
    }
   }

    nav {
      position: sticky;
      top: 0;
      background: white;
      border-bottom: 1px solid #ddd;
      padding: 1rem 2rem;
      display: flex;
      justify-content: right;
      z-index: 10;
    }
    nav ul {
        flex-direction: row;
        gap: .5rem;
      }

    section {
        margin: 2rem 1rem;
      }
    nav a {
      text-decoration: none;
      color: #333;
      font-weight: 600;
      transition: color 0.3s ease;
    }
    nav a:hover {
      color: #007acc;
    }

    @media (max-width: 500px) {
      nav a, .contact-info a {
        font-size: .8rem;
      }

      nav ul, .contact-info ul {
        gap: 1rem;
        justify-content: center;
     }
     nav li, .contact-info li {
        gap: .5rem;
        margin-left: -10px;
        justify-content: center;
     }

      .contact-info ul {
        flex-wrap: wrap;
        flex-direction: row;
      }

      nav ul {
        flex-wrap: wrap;
      }
    }

    @media (max-width: 350px) {
      nav a, .contact-info a {
        font-size: .7rem;
      }

      nav ul, .contact-info ul {
        gap: 1.2rem;
        justify-content: center;
     }
     nav li, .contact-info li {
        gap: .5rem;
        margin-left: -15px;
        justify-content: center;
     }

      .contact-info ul {
        flex-wrap: wrap;
        flex-direction: row;
      }

      nav ul {
        flex-wrap: wrap;
      }
    }

    .home-container {
      display: flex;
      gap: 4rem;        
      align-items: center;    
      max-width: 1200px;
      margin: 3rem auto;
      padding: 0 1rem;
      flex-wrap: wrap;
      border-bottom: .5px dashed #d3d3d3;
      padding-bottom: 16px;
    }

    .intro-container{
      display: flex;
      gap: 4rem;          
      max-width: 1200px;
      margin: 3rem auto;
      padding: 0 1rem;
      flex-wrap: wrap;
      border-bottom: .5px dashed #d3d3d3;
      padding-bottom: 16px;
      align-items: flex-start;
    }


    .intro-heading {
      font-size: 4rem;
      margin-bottom: 1rem;
      color: #007acc;
      text-indent: 0;
    }

    .intro-heading-desktop{
      display: inline;
    }

    .intro-heading-mobile{
      display: none;
    }

    .about-me-container {
      display: flex;
      align-items: center;    
      max-width: 220px;
      margin: 1rem auto;
      flex-wrap: wrap;
    }

    .project-container, .resume-container{
      display: flex;
      align-items: center;
      gap: 8rem;          
      max-width: 1200px;
      margin-top: 1rem;
      margin-bottom: 3rem;
      padding: 0 1rem;
      flex-wrap: wrap;
      border-bottom: .5px dashed #d3d3d3;
      padding-bottom: 16px;
      justify-content: center;
    }

    .project-description{
      display: flex;
      flex-direction: column;
      max-width: 450px;
    }

    .tutoring-container{
      display: flex;
      align-items: center;      
      max-width: 1200px;
      margin: 3rem;
      padding: 0 1rem;
      flex-wrap: wrap;
      border-bottom: .5px dashed #d3d3d3;
      padding-bottom: 16px;
      justify-content: center;
    }

    .testimonial-container{
      display: flex;
      gap: 4rem;        
      max-width: 1200px;
      margin: 3rem auto;
      padding: 0 1rem;
      flex-wrap: wrap;
      border-bottom: .5px dashed #d3d3d3;
      padding-bottom: 16px;
      align-items: flex-start;
      justify-content: center;
    }

    img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    }

    .intro-image img, .tutoring-image img {
      max-width: 300px;
    }

    .project-image img{
      max-width: 300px;
      max-height: 250px;
    }

    .desktop-only {
      display: block;
    }

    .resume-image img{
      max-width: 500px;
    }

    .intro-text, .project-text, .tutoring-text{
      flex: 1;                
      min-width: 250px;       
      text-indent: 0.5rem;
      margin-left: 2rem;
    }

    .project-slideshow {
      position: relative;
      width: 90%;
      max-width: 400px;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      }

  .slide {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
    transition: opacity 0.5s ease-in-out;
  }

  .slide.active {
    display: flex;
  }

    @media (max-width: 500px) {
      .project-container{
        gap: 2rem;
      }

      .project-title, .tutoring-title, .resume-title  {
        text-align: center;
      }

      .project-slideshow {
      position: relative;
      width: 90%;
      max-width: 250px;
      aspect-ratio: 16 / 9;
      overflow: hidden;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0,0,0,0.1);
      }

      .intro-image, .project-image, .tutoring-image, img {
      max-width: 250px;
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      order: 2;
      }

      .project-text, .tutoring-text{
      flex: 1;                /* take remaining space */
      min-width: 250px;       /* prevents too narrow on small screens */
      order: 1;
      }

      .intro-text{
        flex: 1;               
        min-width: 250px;      
        order: 1;
        text-align: center
      }

      .intro-heading {
        font-size: 3.75rem;
        margin-bottom: 1rem;
        color: #007acc;
      }

      .intro-heading-desktop {
        display: none;
      }

      .intro-heading-mobile {
        display: inline;
      }

      .intro-image{
      max-width: 200px;
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      order: 2;
      }

      .home-container, .intro-container, .tutoring-container, .testimonial-container {
      display: flex;
      gap: 1rem;              
      align-items: center;
      justify-content: center;    
      max-width: 600px;
      margin: 1rem auto;
      flex-wrap: wrap;      
      } 

      .desktop-only {
        display: none;
      }
      
      .home-section {
        margin-top: 1rem;
      }
    }

    section {
      max-width: 1200px;
      margin: 3rem auto;
      padding: 0 1rem;
    }

    h1{
      font-size: 2rem;
      margin-bottom: 1rem;
      color: #007acc;
      text-indent: 0;
    }

    h2 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
      color: #007acc;
      text-indent: 0;
    }

    p {
      margin-bottom: 1rem;
    }
    ul.project-list {
      list-style-type: disc;
      margin-left: 1.5rem;
    }
    ul.project-list li {
      margin-bottom: 0.7rem;
    }

    ul {
      list-style: disc outside
    }

    .project-text ul ol{
      margin-left: 20px;
    }

    img.resume-screenshot {
      max-width: 100%;
      border: 1px solid #ccc;
      margin-bottom: 1rem;
    }
    a.button-link {
      display: inline-block;
      background: #007acc;
      color: white;
      padding: 0.5rem 1rem;
      border-radius: 4px;
      text-decoration: none;
      font-weight: 600;
      transition: background 0.3s ease;
    }
    a.button-link:hover {
      background: #005f99;
    }